@tailwind base;
@tailwind components;
@tailwind utilities;

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cornflowerblue;
  height: 50px;
}
.header h1{
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
}
.header ul{
  list-style: none;
  display: flex;
  gap:20px;
  color: white;
}
.home{
  background-color: #d6f71e;
  padding: 20px;
  text-align: center;
  color: rgb(27, 28, 29);
  height: 100%;
  font-size: 40px;
}
.per{
  background-color: #d6f71e;
 
}
.about{
  background-color: #d6f71e;
  padding: 20px;
  text-align: center;
  color: rgb(27, 28, 29);
  height: 100%;
  font-size: 40px;
}
.about p{
  font-size: 18px;
}
.footer{
  background-color: cornflowerblue;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 30px;
}
